code/git_ignore/
data/
.DS_Store
*.pyc
.ipynb_checkpoints
*.env
code/jupyter/git_ignore/
*.cache
code/.spotify_caches/
code/.flask_session/
code/.flask_session/*
code/__pycache__
test.py
code/jupyter/recommend-artist.ipynb
*.csv
*.json
*.rdb