<!doctype html>
<html>
<body style="font-family:arial, sans-serif">
    <h1>Reddit</h1>
    <h6><a href="/">Return to index page</a></h6>
    <div> Find out how popular your favorite artists are on Reddit!</div>
    <h4>Interact with the plot:</h4>
    <p>Click an Artist to toggle them and double click to toggle all. Zoom in and out of the plot or pan around. Check out other features on the top right corner of the plot! </p>
    <div id="chart" class="chart"></div>
</body>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});              
</script>
</html>
