<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link href="../static/img/J-icon copy.svg" rel="shortcut icon" type="image/x-icon" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotty | Error</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
    </noscript>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link type= "text/css" href="{{ url_for('static', filename='css/font-awesome/css/all.min.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/aos.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> 
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='card.css') }}"/>
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
	<header class="bg-light">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav" role="navigation">
		  <div class="container"><a class="link-dark navbar-brand site-title mb-0" href="/">Spotty</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav ms-auto me-2">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<!-- <li class="nav-item"><a class="nav-link" href="artist">Artists</a></li> -->
				<!-- <li class="nav-item"><a class="nav-link" href="#skills">Features</a></li> -->
				<li class="nav-item"><a class="nav-link" href="sign_out">Sign Out</a></li>
				<!-- <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
				<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li> -->
			  </ul>
			</div>
		  </div>
		</nav>
	  </header>
    <div class="page-content">
<div id="content">
<header>
  <div class="cover bg-light">
    <div class="container px-3">
      <div class="row">
        <!-- <div class="col-lg-6 p-2"><img class="avatar img-fluid mt-2" src="{{image}}" width="400" height="400" alt="Walter Patterson"/></div> -->
        <div class="col-lg-6">
          <div class="mt-5">
            <p class="lead text-uppercase mb-1">Error</p>
            <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">Failed to Load</h1>
            <p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">The server is currently under maintenance or is unable to load the data you requested. Try going back to the home screen and refreshing the page or come back later! Sorry about that.</p>
            <!-- <div class="mt-3" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary shadow-sm mt-1 hover-effect" href="{{ redirect_url }}">Explore <i class="fas fa-arrow-right"></i></a></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wave-bg"></div>
</header>
</div>
</div>

<div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    <script src="{{ url_for('static', filename='scripts/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/masonry.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/BigPicture.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/purecounter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/aos.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>

</body>
</html>
