<!doctype html>
<html>
    <head>
        <title>Spotty | Error</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body style="font-family:arial, sans-serif">
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <h2 class="page-section-heading text-center text-uppercase text-white">Failure to Load</h2>
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 ms-auto"><p style='align-self: center' class="lead">The server is currently under maintenance or is unable to load the data you requested. Try going back to the home screen and refreshing the page or come back later! Sorry about that.</p></div>
                </div>
            </div>
        </section>
    </body>
      
</script>
</html>
