<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <link href="../static/img/J-icon copy.svg" rel="shortcut icon" type="image/x-icon" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotty | Music Analytics</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
    </noscript>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link type= "text/css" href="{{ url_for('static', filename='css/font-awesome/css/all.min.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/aos.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> 
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='card.css') }}"/>
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
	<header class="bg-light">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav" role="navigation">
		  <div class="container"><a class="link-dark navbar-brand site-title mb-0" href="/">Spotty</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav ms-auto me-2">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<!-- <li class="nav-item"><a class="nav-link" href="artist">Artists</a></li> -->
				<!-- <li class="nav-item"><a class="nav-link" href="#skills">Features</a></li> -->
				<li class="nav-item"><a class="nav-link" href="sign_out">Sign Out</a></li>
				<!-- <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
				<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li> -->
			  </ul>
			</div>
		  </div>
		</nav>
	  </header>
    <div class="page-content">
<div id="content">
<header>
  <div class="cover bg-light">
    <div class="container px-3">
      <div class="row">
        <div class="col-lg-6 p-2"><img class="img-fluid" src="{{ url_for('static', filename='images/hello3.svg') }}" alt="hello"/></div>
        <div class="col-lg-6">
          <div class="mt-5">
            <p class="lead text-uppercase mb-1">Spotify API</p>
            <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">Music Analytics</h1>
            <p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">Spotify Visualisation - Recommendations - NLP Sentiment Analysis</p>
            <div class="mt-3" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary shadow-sm mt-1 hover-effect" href="#skills">Explore</a> <i class="fas fa-arrow-right"></i></a></div>
            </div>
            <nav role="navigation">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="https://github.com/Harsh-2420/spotify/" title="GitHub"><i class="fab fa-github"></i><span class="menu-title sr-only">GitHub</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://harsh-j.medium.com/spotty-music-analytics-798010883cc1" title="Medium"><i class="fab fa-medium"></i><span class="menu-title sr-only">Medium</span></a></li>
                  <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/harsh-jhunjhunwala/" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
                  <li class="nav-item"><a class="nav-link" href="https://harsh-2420.github.io/" title="Website"><i class="fab fa-dribbble"></i><span class="menu-title sr-only">Website</span></a></li>
                </ul>
              </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="wave-bg"></div>
</header>


<div class="artist_container">
    <div class="section px-3 px-lg-4 pt-5" id="skills">
        <div class="container-narrow">
          <div class="text-center mb-5">
            <h2 class="marker marker-center">Your Favorites</h2>
          </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4">
                <a href='artist'>
                    <div class="profile-card-2">
                        <img src="{{ url_for('static', filename='img/game.png') }}" class="img img-responsive">
                        <div class="profile-name"> Your Top Artists</div>
                        <!-- <div class="profile-username"> </div> -->
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href='tracks'>
                    <div class="profile-card-2">
                        <img src="{{ url_for('static', filename='img/cabin.png') }}" class="img img-responsive">
                        <div class="profile-name"> Your Top Tracks</div>
                        <!-- <div class="profile-username"> </div> -->
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <!-- <a href='artist'> -->
                    <div class="profile-card-2">
                        <img src="{{ url_for('static', filename='img/circus.png') }}" class="img img-responsive">
                        <div class="profile-name"></div>
                        <!-- <div class="profile-username"> </div> -->
                    </div>
                <!-- </a> -->
            </div>
    </div>
    <div class="section px-3 px-lg-4 pt-5" id="skills">
        <div class="container-narrow">
          <div class="text-center mb-5">
            <h2 class="marker marker-center">Your Features</h2>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href='top'>
                <div class="profile-card-2">
                    <img src="{{ url_for('static', filename='img/safe.png') }}" class="img img-responsive">
                    <div class="profile-name"> Favorites</div>
                    <!-- <div class="profile-username"> </div> -->
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href='twitter'>
                <div class="profile-card-2">
                    <img src="{{ url_for('static', filename='img/cake.png') }}" class="img img-responsive">
                    <div class="profile-name"> Twitter Sentiments</div>
                    <!-- <div class="profile-username"> </div> -->
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href='spotify_rec'>
                <div class="profile-card-2">
                    <img src="{{ url_for('static', filename='img/submarine.png') }}" class="img img-responsive">
                    <div class="profile-name"> Spotify Recommendations</div>
                    <!-- <div class="profile-username"> </div> -->
                </div>
            </a>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href='user_collection'>
                    <div class="profile-card-2">
                        <img src="{{ url_for('static', filename='img/cake.png') }}" class="img img-responsive">
                        <div class="profile-name"> Community Recommendations</div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-md-4">
              <a href='world_trends'>
                  <div class="profile-card-2">
                      <img src="{{ url_for('static', filename='img/cabin.png') }}" class="img img-responsive">
                      <div class="profile-name"> World Trends </div>
                  </div>
              </a>
          </div> -->
    </div>
</div>
</div>
</div>


<div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
    <div class="container-narrow">
      <div class="text-center mb-5">
        <h2 class="marker marker-center">Contact Me</h2>
      </div>
      <div class="row">
        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="bg-light my-2 p-3 pt-2">
            <form id="contactForm" name="sentMessage" method="POST" action='contact'></form>
      <div class="form-group my-2">
        <label for="name" class="form-label fw-bolder">Name</label>
        <input class="form-control" type="text" id="name" name="name" required>
      </div>
      <div class="form-group my-2">
        <label for="email" class="form-label fw-bolder">Email</label>
        <input class="form-control" type="email" id="email" name="_replyto" required>
      </div>
    <div class="form-group my-2">
      <label for="message" class="form-label fw-bolder">Message</label>
      <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4" required></textarea>
    </div>
    <button class="btn btn-primary mt-2" type="submit">Send</button>
  </form>
          </div>
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
          <div class="mt-3 px-1">
            <div class="h5">About Spotty!</div>
            <p> Spotty is a personal project I am working on to improve my skills in Data Engineering and sentiment analysis. This is still a work in progress and if you run into any bugs or have suggestions, contact me below! I would love to improve this website.</p>
            <p><ul>
                <li>Improving the Recommendation System
                    <ul>
                        <li>Audio Waveform Analysis using parallel CNN-RNN architecture</li>
                        <li>NLP on the song lyrics to identify user favorites</li>
                    </ul>
                </li>
                <li>Custom inputs for Reddit Visualisation</li>
                <li>Making the pages load more efficiently</li>
            </ul></p>
          </div>
          <div class="mt-3 px-1">
            <div class="h5">Great to meet you!</div>
            <p>You can check out my other projects by visiting my GitHub or my Website below.</p>
          </div>
          
          <div class="mt-53 px-1">
            <div class="row"> 
              <div class="col-sm-2">
                <div class="pb-1">Email:</div>
              </div>
              <div class="col-sm-10">
                <div class="pb-1 fw-bolder">harsh.jhunjhunwala@mail.utoronto.ca</div>
              </div>
              <div class="col-sm-2">
                <div class="pb-1">Phone:</div>
              </div>
              <div class="col-sm-10">
                <div class="pb-1 fw-bolder">+1 (647)-779-2407</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="pt-4 pb-4 text-center bg-light">
    <div class="container">
      <div class="my-3">
        <div class="h4">Harsh Jhunjhunwala</div>
        <p>Aspiring Data Scientist and Data Analyst</p>
        <div class="social-nav">
          <nav role="navigation">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="https://github.com/Harsh-2420/spotify/" title="GitHub"><i class="fab fa-github"></i><span class="menu-title sr-only">GitHub</span></a></li>
                <li class="nav-item"><a class="nav-link" href="https://harsh-j.medium.com/spotty-music-analytics-798010883cc1" title="Medium"><i class="fab fa-medium"></i><span class="menu-title sr-only">Medium</span></a></li>
              <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/harsh-jhunjhunwala/" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
              <li class="nav-item"><a class="nav-link" href="https://harsh-2420.github.io/" title="Website"><i class="fab fa-dribbble"></i><span class="menu-title sr-only">Website</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>


<div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    <script src="{{ url_for('static', filename='scripts/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/masonry.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/BigPicture.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/purecounter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/aos.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>

  </body>
</html>

