<!DOCTYPE html>
<html>
<head>
	<title>Spotty | Twitter Overview</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
</head>
	<body>
		<section class="page-section bg-primary text-white mb-0" id="about">
			<div class="container">
				<h2 class="page-section-heading text-center text-uppercase text-white">Twitter</h2>
				<div class="divider-custom divider-light">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
					<div class="divider-custom-line"></div>
				</div>
				<div class="row">
					<div class="col-lg-12 ms-auto"><p class="lead">This is pretty self explanatory isn't it. Check out the tweets of your favorite artists (or any hot topic you want) and find the sentiment people have on that topic.</p></div>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="p-5">
						<div class="block">
						<form class="form-inline" method="GET" action="twitter">
							
							<!-- <label for="fname">Artist name:</label><br> -->
							<input placeholder="Artist Name" class="form-control" type="text" name="key"><br><br>

							<!-- <label for="fname">Number of tweets:</label><br> -->
							<input placeholder="Number of tweets" class="form-control" type="number" id="rec" name="num" min="1" max="30" style="width: 11em"><br><br>
							
							<button class="btn btn-primary" type="submit">search</button>
						</form>
					</div>
					<!-- {{key}} -->
					</div>
					<div>
						{% if sentiments == 'error' %}
							Trending tweets not found. Try another artist
						{%else%}
							{% if iteration == 1%}

								The sentiments about {{key}} on Twitter:
								<br><br>
								{% for sentiment in sentiments %}
									{{sentiment[0]}}:
									{{sentiment[1]}} %
									<br>
								{% endfor %}
								<br><br>
								Trending tweets on {{key}}:
								{% for tweet in tweets %}
									<div class="card mt-2">
										<div class="card-body">
											<div class="card-text">
												{{ tweet.text }}
											</div>
										</div>
									</div>
								{% endfor %}
								<br><br>


							{% else %}
								Trending tweets around the world:
								{% for tweet in tweets %}
									<div class="card mt-2">
										<div class="card-body">
											<div class="card-text">
												{{ tweet.text }}
											</div>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>