<!-- <!doctype html>
<html>
    <head>
    <title>Spotty | Community Recommendations</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Spotty</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Home</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="sign_out">Sign Out</a></li>  
            </ul>
        </div>
    </div>
</nav>
<body style="font-family:arial, sans-serif">
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <div class="divider-custom divider-light"></div>
				<div class="divider-custom divider-light"></div>
				<div class="divider-custom divider-light"></div>
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-12 ms-auto"><p class="lead">You've seen the recommendations the machines gave. But do you wonder what other users around the world like? Here are some of Spotty users' favorite tracks.  </br> Go ahead. Add yours too! Don't be shy</p></div>
            </div>
        </div>
    </section>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="p-5">
                    <div class="block">
                        <form class="form-inline" method="GET" action="user_collection">
                            <input placeholder="Track" class="form-control" type="text" name="track" style="width: 11em">
                            <input placeholder="Artist" class="form-control" type="text" name="artist" style="width: 11em">
                            <button class="btn btn-primary" type="submit">search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>


</html> -->




<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotty | Community Recommendations</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
    </noscript>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link type= "text/css" href="{{ url_for('static', filename='css/font-awesome/css/all.min.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="../static/img/J-icon copy.svg" rel="shortcut icon" type="image/x-icon" /> 
    <link type= "text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/aos.css') }}" rel="stylesheet">
    <link type= "text/css" href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"> 
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='card.css') }}"/>
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
	<header class="bg-light">
		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav" role="navigation">
		  <div class="container"><a class="link-dark navbar-brand site-title mb-0" href="/">Spotty</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav ms-auto me-2">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<!-- <li class="nav-item"><a class="nav-link" href="artist">Artists</a></li> -->
				<!-- <li class="nav-item"><a class="nav-link" href="#skills">Features</a></li> -->
				<li class="nav-item"><a class="nav-link" href="sign_out">Sign Out</a></li>
				<!-- <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
				<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li> -->
			  </ul>
			</div>
		  </div>
		</nav>
	  </header>
    <div class="page-content">
<div id="content">
<header>
  <div class="cover bg-light">
    <div class="container px-3">
      <div class="row">
        <!-- <div class="col-lg-6 p-2"><img class="avatar img-fluid mt-2" src="{{image}}" width="400" height="400" alt="Walter Patterson"/></div> -->
        <div class="col-lg-6">
          <div class="mt-5">
            <p class="lead text-uppercase mb-1">Music</p>
            <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">Community Recommendations</h1>
            <p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">See the recommendations from other users! P.S. In rare cases, we may not recognise songs and we apologise for that. Shoot us a message and we can add it.</p>
            <!-- <div class="mt-3" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary shadow-sm mt-1 hover-effect" href="{{ redirect_url }}">Explore <i class="fas fa-arrow-right"></i></a></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wave-bg"></div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="p-5">
                <div class="block">
                    <form class="form-inline" method="GET" action="user_collection">
                        <input placeholder="Track" class="form-control" type="text" name="track" style="width: 11em">
                        <input placeholder="Artist" class="form-control" type="text" name="artist" style="width: 11em">
                        <!-- <input placeholder="Your Name" class="form-control" type="text" name="username"> -->
                        <button class="btn btn-primary" type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="chart" class="chart"></div>
<div class="artist_container">
  <div class="row">
      {% for track in track_list %}
          <div class="col-md-4">
              <a href='artist_personal/{{track[3]}}'>
              <div class="profile-card-2">
                  <img src="{{track[2]}}" class="img img-responsive">
                  <div class="profile-name"> {{track[0]}} </div>
                  <div class="profile-username">{{track[1]}}</div>
              </div>
          </a>
          </div>
      {% endfor %}
  </div>
</div>

</div>
</div>

<div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    <script src="{{ url_for('static', filename='scripts/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/masonry.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/BigPicture.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/purecounter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/aos.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});             
</script>
</body>
</html>
