<html>
   <body>
		
		<form action = "/predict" method="POST">
			 <!-- Recs -->
			<label for="fname">Number of Recommendations:</label><br>
		    <input type="number" id="rec" name="rec" min="1" max="10"><br><br>
		    
		    <!-- names -->
		    <label for="fname">Artist name:</label><br>
		    <input name="text"><br><br>
		    
		    <!-- Weights -->
		    <label for="fname">Artist weights:</label><br>
		    <input type="text" id="weight" name="weight"><br><br>
		    
		    <!-- Submit -->
		    <input type="submit">
		</form>
		<!-- <button onclick="document.getElementbyId('recForm').append()"></button> -->
   </body>
</html>