<!-- <html>
   <body>
		
		<form action = "/predict" method="POST" id="recForm">
			<label for="fname">Number of Recommendations:</label><br>
		    <input type="number" id="rec" name="rec" min="1" max="10"><br><br>
		    <label for="fname">Artist name:</label><br>
		    <input name="text"><br><br>
		    <label for="fname">Artist weight:</label><br>
		    <input type="number" id="weight" name="weight" min="1" max="10"><br><br>
		    <input type="submit">
		</form>
		<button onclick="document.getElementbyId('recForm').append()"></button>
   </body>
</html>
 -->












<!DOCTYPE html>
<html>
	<head>
		<title>
			Spotify Artist Recommendation
		</title>
	</head>
	<body style="text-align: center;">
		<p>
		Click on the button to create
		a form dynamically
		</p>
		<button onClick="GFG_Fun()">
			click here
		</button>
		<p id="GFG_DOWN"></p>
		<script>
			var down = document.getElementById("GFG_DOWN");
					
			// Create a break line element
			var br = document.createElement("br");
			function GFG_Fun() {
						
			// Create a form synamically
			var form = document.createElement("form");
			form.setAttribute("method", "post");
			form.setAttribute("action", "submit.php");

			// Create an input element for Full Name
			var FN = document.createElement("input");
			FN.setAttribute("type", "text");
			FN.setAttribute("name", "FullName");
			FN.setAttribute("placeholder", "Artist Name");

			// Create an input element for date of birth
			var DOB = document.createElement("input");
			DOB.setAttribute("type", "text");
			DOB.setAttribute("name", "dob");
			DOB.setAttribute("placeholder", "Artist Weight");


						// create a submit button
						var s = document.createElement("input");
						s.setAttribute("type", "submit");
						s.setAttribute("value", "Submit");
						
						// Append the full name input to the form
						form.appendChild(FN);
						
						// Inserting a line break
						form.appendChild(br.cloneNode());
						
						// Append the DOB to the form
						form.appendChild(DOB);
						form.appendChild(br.cloneNode());
						
						// Append the submit button to the form
						form.appendChild(s);

						document.getElementsByTagName("body")[0]
					.appendChild(form);
					}
		</script>
	</body>
</html>
